# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.pyc
.bake/
.idea/
.cache/
.direnv/
compile_commands.json
Testing/
build/
cmake-build*
__pycache__/
venv
.devcontainer
.vscode*
.project
.envrc
.DS_Store
*.egg-info
.docker_history/
.sccache/
doc/doxygenOut
doc/doc-coverage.info
doc/DoxygenWarningLog.txt
.bash_history

